<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery.min.js"></script>

<script>
$(document).ready(function(){
$('.create-wordpress').on('click',function(){
	$.post('/api/create',{},function(results){
		console.log(results)
	})
})
})
</script>
  </head>
  <body>
    <p>Welcome aboard! Visit <a href="http://locomotivejs.org/">locomotivejs.org</a> for details.</p>
  
<a href="#" class="create-wordpress">Create WordPress</a>
  </body>
</html>