<!DOCTYPE html>
<html>
  <head>
  	<title>Webshoty.com | Instantly create web page screenshots!</title>
    <meta name="description" content="Instantly create screenshots of any web page and share those screenshots with webshoty for free.">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.08/jquery.masonry.min.js"></script>






<script>
$(document).ready(function(){

	var $container = $('.webshots');
// initialize
$container.masonry({
  itemSelector: '.webshot'
});


	var loadingGear = '<i class="fa fa-cog fa-spin"></i>';
	var webshotIcon = ''
$('.loading').hide();

$('#create').on('click',function(){
	var self = $(this);
	console.log(self.hasClass('ready'))
	if(self.hasClass('ready') == false)
	{
		alert('Not Ready')
	return;
	}
	self.removeClass('ready');
$('.camera').hide();
$('.loading').show();

	var url = $("input#url").val();
	$.post('/api/create',{url:url},function(results){
var img = "<img class='main-image img-thumbnail' src='"+results.image+"'/>";
$("#results img").remove();
		$("#results").append(img);
		$(".main-image").hide();
		$(".main-image").fadeIn(500)
  		$('.camera').show();
$('.loading').hide();
self.addClass('ready');


	})
})

})
</script>
  </head>
  <body>
  	<div class="container">
<div class="row header">
  <div class="col-md-4">
<h1>Webshoty</h1>
<h3>Create screenshots of any webpage for free</h3>
</div>
<div class="col-md-8">
<div class="field pull-right">
  <input type="text" id="url" placeholder="Enter website url" value="http://"/>
  <button type="button" id="create" class="ready"> <i class="fa fa-camera camera"></i><i class="fa fa-cog fa-spin loading "></i>  webshot!</button>
</div>
</div>
</div>
</div>


<div class="light-blue body-wrapper">
<div class="container">
    <div class="row">
<div id="results" class="col-md-12 drop">

</div>
</div>
</div>
</div>

<div class="container">
  <div class="row">
<div id="menu" class="col-md-12">
<a>Create webshots of any website and share those webshots for free with Webshoty.</a>
</div>
</div>
</div>



<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '565900100152692',                        // App ID from the app dashboard
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(){
     // If we've already installed the SDK, we're done
     if (document.getElementById('facebook-jssdk')) {return;}

     // Get the first script element, which we'll use to find the parent node
     var firstScriptElement = document.getElementsByTagName('script')[0];

     // Create a new script element and set its id
     var facebookJS = document.createElement('script'); 
     facebookJS.id = 'facebook-jssdk';

     // Set the new script's source to the source of the Facebook JS SDK
     facebookJS.src = '//connect.facebook.net/en_US/all.js';

     // Insert the Facebook JS SDK into the DOM
     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
   }());
</script>







  </body>
</html>